<div class="<%= block %>_card">
	<div class="<%= block %>_info">
		<h3 class="<%= block %>_title"><%= title %></h3>
		<p class="<%= block %>_text"><%= text %></p>
	</div>

	<figure class="<%= block %>_media">
		<img
			src="https://picsum.photos/300/200"
			alt="ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー"
			width="300"
			height="200"
			decoding="async"
		/>
	</figure>
</div>
