<%# サブ・メイン２行のタイトル _%><%# include( baseMeta.pathsEjsCommon + "_heading", {block:'',modifire: '',subText:'',mainText:'',read:''}); _%>
<<%= tag %> class="<%= block %> <%= modifire %>">
	<span class="<%= block %>_text -sub"><%= subText %></span><span class="<%= block %>_text -main"><%= mainText %></span>
</<%= tag %>>

